---
const { id, alt } = Astro.props;
---

<div class="my-icon-container" >
    <div  class="my-icon">
        <img class=`my-icon-image ${id}` src={`/astro-starlight/icons/${id}`} alt={alt}>
    </div>
    <div class="my-icon-text">
        <slot/>
    </div>
</div>